.spins::after {
    position: absolute;
    content: 'Please wait while we migrate the store performance for you...';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}